.infor_fridge{
    margin: 40px auto 10px auto;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    border-radius: 8px;
    background-image: linear-gradient(45deg, #4CB8C4,#3CD3AD) ;
}
.frozen{
    margin: 0 auto;
    height: 74px;
    width: 280px;
    border-bottom: 2px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
}
.chilled{
    height: 74px;
    width: 280px;
    margin: 0 auto;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.number h1{
    margin-right: 30px;
    font-size: 22px;
}
.number{
    position: relative;
}
.number span{
    top: -5px;
    font-size: 13px;
    right: 22px;
    position: absolute;
}
.number p{
    top: 2px;
    font-size: 18px;
    right: 9.5px;
    position: absolute;
}
.controlTemp{
    width: 320px;
    height: 160px;
    margin: 10px auto 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.control_item{
    width: 155px;
    background-image: linear-gradient(45deg, #4CB8C4,#3CD3AD) ;
    overflow: hidden;
    border: 3px solid #4CB8C4;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
}
.control_item p{
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: black;
}
.control_item h1{
    color: black;    
}
.btn_control_item{
    display: flex;
}
.btn_control_item button{ 
    width: 75px;
    height: 50px;
    background-color: #55efc4;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #4CB8C4;
    cursor: pointer;
}
.btn_control_item button i{
    font-size: 22px;
    color: #00b894;
}
.btn_control_item button:hover{
    background-color: #81ecec;
}
.show_num{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.show_num h1{
    color: #fff;
    width: 50px;
    text-align: center;
}
.show_num span{
    position: absolute;
    top: 11px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    right: 40px;
}
.show_num p{
    position: absolute;
    font-size: 22px;
    font-weight: 600;
    right: -42px;
    top: 20px;
    color: #fff;
}
.img_fridge{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    flex-direction: column;
    margin: 10px auto;
}
.img_fridge img {
    margin: 0 0 10px 0;
    width: 60%;
}
.img_fridge p{
    font-weight: 600;
    font-size: 16px;
}