.lamptitle{
    padding: 10px 0;
    margin-top: -10px;
}
.top_abd{
    margin: 10px auto 0 auto;
    width: 340px;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    border-bottom: 1px solid #50ebce;
}
.top_abd p:last-child{
    display: flex;
    flex-direction: column;
    width: 55px;
    height: 26px;
    border-radius: 8px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.top_abd p:last-child:hover{
    transform: scale(1.02);
    
}
.top_abd p{
    font-size: 17px;
    font-weight: 600;
}
.top_abd p span{
    width: 55px;
    line-height: 26px;
    height: 26px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.top_abd p span:hover{
    transform: scale(1.02);
}
.top_abd p span:first-child{
    display: none;
}
.top_abd p span:last-child{
    display: block;
}
.top_abd p.active span:first-child{
    display: block;
}
.top_abd p.active span:last-child{
    display: none;
}
.toggleCtrl{
    background-color: #636e72;
    color: white;
}
.toggleCtrl.active{
    background-color: #50ebce;
    color: black;
}
.body_adb{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.light{
    margin-top: 70px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* border: 0.5px solid black; */
    background-color: #fff;
    box-shadow: 0 0 100px rgba(0,242,242,242);
    position: relative;
    z-index: 1;
}
.light2{
    margin-top: 70px;
    width: 150px;
    height: 150px;
    border: 1px solid #808e9b;
    border-radius: 50%;
    /* border: 0.5px solid black; */
    background-color: #fff;
    /* box-shadow: 0 0 100px rgba(0,242,242,242); */
    position: absolute;
    z-index: 0;
}
.light.active{
    background-color: #d2dae2!important;
    box-shadow: 0 0 100px rgba(0,0,0,0.6)!important;

}
.editLight{
    position: absolute;
    top: 99.7%;
    left: 50%;
    width: 2px;
    height: 70px;
    background-color: #808e9b;
}
.editLight2{
    position: absolute;
    left: 48.8%;
    bottom: -150%;
    width: 10px;
    height: 20px;
    background-color: #808e9b;
}
.toggleColor{
    width: 340px;
    height: 40px;
    margin: 60px auto 0 auto;
    display: flex;
}
.toggleColor p{
    width: 66px;
    margin: 5px 0;
    font-weight: 600;
    /* text-transform: uppercase; */
    height: 100px;
}
.chooseColor{
    flex: 1;
    height:40px;
    display: flex;
    flex-wrap: wrap;
}
.color{
    width: 23px;
    margin: 5px 6.1px 5px 10px;
    height: 23px;
    border-radius: 50%;
    cursor: pointer;
    /* background-color:red; */
}

.light.color1{
    background-color:rgb(239, 87, 119);
    box-shadow: 0 0 70px rgb(239, 87, 119);
}
.light.color2{
    background-color:rgb(87, 95, 207);
    box-shadow: 0 0 70px rgb(87, 95, 207);
}
.light.color3{
    background-color:rgb(255, 211, 42);
    box-shadow: 0 0 70px rgb(255, 211, 42);
}
.light.color4{
    background-color:rgb(0, 216, 214);
    box-shadow: 0 0 70px rgb(0, 216, 214);
}
.light.color5{
    background-color:rgb(5, 196, 107);
    box-shadow: 0 0 70px rgb(5, 196, 107);
}
.light.color6{
    background-color:rgb(255, 118, 117);
    box-shadow: 0 0 70px rgb(255, 118, 117);
}
.light.color7{
    background-color:rgb(255, 63, 52);
    box-shadow: 0 0 70px rgb(255, 63, 52);
}
.color.color1{
    background-color:rgb(239, 87, 120);
}
.color.color2{
    background-color:rgb(87, 95, 207);
}
.color.color3{
    background-color:rgb(255, 211, 42);
}
.color.color4{
    background-color:rgb(0, 216, 214);
}
.color.color5{
    background-color:rgb(5, 196, 107);
}
.color.color6{
    background-color:rgb(255, 118, 117);
}
.color.color7{
    background-color:rgb(255, 63, 52);
}
.brightness{
    width: 340px;
    height: 40px;
    margin: 20px auto 0 auto;
    display: flex;
    /* align-items: center; */
}
.brightness p{
    width: 66px;
    margin: 5px 0;
    font-weight: 600;
    height: 100px;
}
.brightness input{
    width: 255px;
    border: none;
    outline: none;
    margin-left: 12px;
    margin-top: -7px;
}
.brightness input:focus{
    border: none;
    outline: none;
}

