.iconSercured{
    margin: 30px auto 0 auto;
    width: 220px;
    height: 220px;
    display:flex;
    align-items: center;
    justify-content: center;
    border: 20px solid #bdf3e9;
    border-radius: 50%;
    background-color: #50ebce;
}
.img_ser{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.img_ser img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title_ser{
    width: 280px;
    text-align: center;
    margin: 20px auto;
    font-size: 18px;
    font-weight: 600;
}
.listBtn_ctrl{
    margin: 0 auto;
    width: 340px;
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #1ec1a4;

}
.btn_ctrItem{
    padding-top: 50px;
    width: 180px;
    height: 80px;
    margin: 0 15px;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
}
.switch {
    position: relative;
    display: inline-block;
    width: 142px;
    height: 60px;
    border-radius: 40px;
    /* transform: rotate(90deg) */
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dfe6e9;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 60px;
    width: 60px;
    border-radius: 50%;
    left: -1px;
    bottom: -2px;
    right: 0;
    border: 1px solid #1ec1a4;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #50ebce;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #50ebce;
  }
  
  input:checked + .slider:before {
    transform: translateX(79px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border: 1px solid #50ebce;
  }
  
  .slider.round:before {
    border: 1px solid #50ebce;
  }
  .btn_ctrItem p{
      position: absolute;
      top: 6px;
      font-weight: 600;
  }
  .btn_lockAll{
      width: 340px;
      margin: 30px auto 0 auto;
      justify-content: center;
      display: flex;
      align-items: center;
      height: 80px;
  }
  .btn_lockAll button{
      width: 318px;
      height: 50px;
      background-color: red;
      border-radius: 4px;
      border: 1px solid #50ebce;
      outline: none;
      font-weight: 600;
      font-size: 15px;
      color: #fff;
      cursor: pointer;
      background-color: red;
  }
  .btn_lockAll button:hover{
      transform: scale(1.02);
  }
  .btn_lockAll button:last-child{
    display: none;
    background-color: #50ebce;
  }
  .btn_lockAll.active button:last-child{
    display: block;
  }
  .btn_lockAll button:first-child{
    display: block;
  }
  .btn_lockAll.active button:first-child{
    display: none;
  }
 