.app-bodyContent .main_remote{
    margin: 40px auto 20px auto;
    width: 316px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    background-color: #1ec1a4;
    border-radius: 6px;
    border: 1px solid #1ec1a4;

}
.control_btn{
    width: 55px;
    height: 140px;
    border-radius: 40px;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.icon_ctr{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    cursor: pointer;
    display: flex;
    color: #fff;
    transition: all 0.2s;
}
.icon_ctr:hover{
    background-color: white;
    color: black;
}
.icon_toggle{
    margin: 0 50px;
    display: flex;
    align-items: center;
    color: #1ec1a4;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}
.icon_toggle i {
    font-size: 22px;
}
.icon_toggle.active{
    background-color: #2d3436;
    color: white;
}
.icon_next i{
    transform: rotate(90deg);
}
.icon_prev i{
    transform: rotate(270deg);
}
.main_remote2{
    margin: 20px auto 20px auto;
    width: 318px;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
}
.ctrl_item{
    width: 86px;
    margin: 5px 0;
    height: 50px;
    background-color: #fff;
    border-radius: 4px;
    border: 2px solid #1ec1a4;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #1ec1a4;
    justify-content: center;
}
.item_center{
    margin: 5px 28px;
}
.ctrl_item i{
    font-size: 22px;
}
.ctrl_item:hover{
    color: #fff;
    background-color: #1ec1a4;
}
.main_remote1{
    margin: 10px auto 0 auto;
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    height: 180px;
}
.main_remote1 p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: #1ec1a4;
    margin: 0 2px;
    width: 102px;
    height: 40px;
    background-color: #fff;
    border: 2px solid #1ec1a4;
    border-radius: 4px;
    transition: all 0.2s;
}

.main_remote1 p:hover{
    color: #fff;
    background-color: #1ec1a4;
}
.icon_mute.active{
    color: #fff;
    background-color: black;
    border: 2px solid black;
}