* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: 'Lato', 'san-serif';
    text-rendering: optimizeLegibility;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content:  center;
    align-items: center;
}
.app{
    width: 380px;
    border: 0.01px solid #bdf3e9;
    height: 750px;
    border-radius: 20px;
    background-color: #f0f5f9;
    box-shadow: 0 0 50px rgba(39, 192, 121, 0.5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    -webkit-user-select: none;
    user-select: none;
}
.app-top{
    height: 50px;
    width: 350px;
    margin: 0 auto;
    display: flex;
    line-height: 40px;
    justify-content:space-between;
}
.app-top_left p{
    font-weight: 600;
}
.app-top_right{
    display: flex;
}
.app-top_right p{
    margin-left: 15px;
}
.app-body{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.app-bodyTop{
    height: 100px;
    width: 360px;
    margin: 0 auto;
    background-color: #f0f5f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.app-bodyTop p:first-child{
   display: flex;
   flex-direction: column;
}
.app-bodyTop p:first-child span:first-child{
    font-size: 20px;
    font-weight: 600;
    padding: 0 0 10px 0;
}
.app-bodyTop p:last-child{
    font-weight: 600;
    font-size: 24px;
}
.app-bodyContent{
    flex: 1;
    box-shadow: 0 0 15px rgba(0,0,0,0.05);
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.app-tabs{
    margin: 15px 0 10px 0;
    height: 50px;
    width: 380px;
    display: flex;
    align-items: center;
    justify-content:center;
}
.app-tabs button{
    width: 100px;
    font-size: 14px;
    font-weight: 600;
    height: 30px;
    background-color: #fff;
    color: #1ec1a4;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    margin: 0 10px;
}

.app-tabs button:focus{
    outline: none;
    border: none;
}
.app-tabs button:hover{
    background-color: #f0f5f9;
}
.tab.active{
    background-color: #1ec1a4;
    color: #fff;
    outline: none;
    border: none
}
.tab-content{
    flex: 1;
    width: 380px;
    display: flex;
}
.tab-pane{
    flex: 1;
    display: flex;
    display: none;
    flex-direction:column;
}
.tab-pane.active{
    display: block;
}
.controls{
    width: 360px;
    height: 400px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
}
.control{
    border-radius: 8px;
    color: black;
    margin: 0 10px;
    width: 160px;
    display: flex;
    flex-direction: column;
    height: 180px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    animation: animationShow 1s;
    transition: all 0.3s;
}
.control:hover{
    opacity: 0.8;
    transform: scale(1.01);
}

.control > p{
    margin: 10px 0 10px 10px;
    width: 45px;
    height: 45px;
    background-color: #defff9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.control > p i{
    font-size: 22px;
    /* color: #1ec1a4; */
}
.control > a{
  margin: 0 0 15px 10px;
  font-size: 22px;
  height: 30px;
  color: black;
  font-size: 16px;
  font-weight: 600;
}
.control > a:hover{
    outline: none;
    color: black;
    text-decoration: none;
}
.control span{
    margin: 0 0 10px 10px;
    font-size: 13px;
}
.toggle{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}
.toggle p{
    font-size: 16px;
    margin: 0 10px;
    font-weight: 600;
}
.toggle p i{
    font-size: 30px;
    /* color: #1ec1a4; */
    cursor: pointer;
}
.status{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}
.status span{
    margin: 3px 0 0 0;
    font-size: 16px;
}
.status span:first-child{
    display: none;
}
.status.active span:last-child{
    display: none;
}
.status.active span:first-child{
    display: block;
}

.product_icon.active{
    color: #1ec1a4;
}
.control_icon.active{
    color: #1ec1a4;

}
.tab-paneFooter{
 flex: 1;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.tab-paneFooter > p{
    height: 40px;
    width: 200px;
    border-bottom: 5px solid black;
}
.tabApp{
 width: 360px;
 margin: 0 auto;
 height: 70px;
 display: flex;
 border-radius: 40px;
 background-color: #bdf3e9;
}
.showTApp{
    width: 330px;
    margin: 0 auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
}
.showTApp > p{
    font-size: 26px;
    cursor: pointer;
    line-height: 70px;
    color: #1ec1a4;

}
.btnHome{
    cursor: pointer;
    margin: 15px 0;
    display: flex;
    line-height: 40px;
    height: 40px;
    border-radius: 20px;
    width: 90px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    color: #1ec1a4;
    font-size: 15px;
    font-weight: 600;
}

.btnHome p i{
    font-size: 22px;
    margin: 0 5px 0 0;
    color: #1ec1a4;
}
@keyframes animationShow {
    from {height: 0px} to {height: 180px}
}

.conditioner{
    width: 360px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.conditioner h4{
    font-size: 20px;
}
.conditioner h5{
    font-size: 15px;
}
.conditioner span{
    position: absolute;
    cursor: pointer;
    left: 10px;
    top: 20px;
    height: 32px;
    background-color: #bdf3e9;
    width: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.conditioner span i {
    font-size: 17px;
    color: #1ec1a4;
    margin: 0 0 0 10px;

}
.conditioner span:hover{
    transform: scale(1.11);

}

.controlAir{
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.body_ctrl{
    height: 500px;
    width: 380px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.bottom_ctrl{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bottom_ctrl button{
 width: 300px;
 color: white;
 font-weight: 600;
 height: 55px;
 border-radius: 12px;
 cursor: pointer;
 border: none;
 background-color: #1ec1a4;

}
.bottom_ctrl button:focus{
    outline: none;
    border: none;
}
.bottom_ctrl button:hover{
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.title_ctrl{
    margin: 20px auto 0 auto;
    display: flex;
    margin-top: 10px;
    align-items: center;
    height: 50px;
    width: 340px;
}
.title_ctrl p:first-child{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #bdf3e9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title_ctrl p i{
    font-size: 20px;
    color: #1ec1a4;

}
.title_ctrl p:last-child{
    margin-left: 10px;
    font-weight: 600;
    font-size: 16px;
}

.show_ctrl {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.main_ctrl{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #dbfff8;
    border: 20px solid #50ebce;
    position: relative;
}
.ctrl{
    position: absolute;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #b1fff1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #1ec1a4;
}
.ctrl h3{
    position: relative;
}
.ctrl span{
    position: absolute;
    top: 42px;
    right: 62.5px;
    font-weight: 600;
}